@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #345ff6;
  --gun-metal: #253347;
  --dark-electric-blue: #5e6e85;
  --pure-white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  margin-bottom: 72px;
}

.heading-xl {
  font-size: 4rem;
  line-height: 110%;
}

.heading-lg {
  font-size: 1.5rem;
  line-height: 110%;
}

.heading-md {
  font-size: 1.25rem;
  line-height: 110%;
}

.body-md {
  font-size: 1rem;
  line-height: 150%;
}

.body-md-bold {
  font-size: 1rem;
  line-height: 150%;
}

.body-sm {
  font-size: 0.875rem;
  line-height: 150%;
}
